<!DOCTYPE html>
<html lang="en" >

<body>
      <!-- Footer -->
      <footer th:fragment="base"> 
        <div class="newsletter-block">
            <div class="container">
                <div class="newsletter-wrap">

                    <h4>Góp ý với chúng tôi</h4>
                    <form id="newsletter-validate-detail" method="post" action="#">
                        <div id="container_form_news">
                            <div id="container_form_news2">
                                <input type="text" class="input-text required-entry validate-email"
                                    value="Nhập email của bạn" onFocus=" this.value='' "
                                    title="Sign up for our newsletter" id="newsletter" name="email">
                                <button class="button subscribe" title="Subscribe"
                                    type="submit"><span>Đăng kí</span> </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div style="text-align:center">
                        <a th:href="@{/}">
                            <p class="logo">
                                MiniShop
                            </p>
                        </a> </div>
                    <address>
                        <i class="fa fa-map-marker"></i> Gia Lâm đa tốn Hà Nội <i
                            class="fa fa-mobile"></i><span> 03 8242 6669</span> <i
                            class="fa fa-envelope"></i><span> minishop.td@gmail.com</span>
                    </address>
                </div>
                <div class="row">
                    <div class="social">
                        <h4>Follow Us</h4>
                        <ul class="link">
                            <li class="fb pull-left"> <a href="#"></a> </li>
                            <li class="tw pull-left"> <a href="#"></a> </li>
                            <li class="googleplus pull-left"> <a href="#"></a> </li>
                            <li class="rss pull-left"> <a href="#"></a> </li>
                            <li class="pintrest pull-left"> <a href="#"></a> </li>
                            <li class="linkedin pull-left"> <a href="#"></a> </li>
                            <li class="youtube pull-left"> <a href="#"></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
           
        </div>
       <!-- mobile menu -->
<div id="mobile-menu">
    <ul>
        <li>
            <div class="mm-search">
                <form id="search1" name="search">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> </button>
                        </div>
                        <input type="text" class="form-control simple" placeholder="Search ..." name="srch-term"
                            id="srch-term">
                    </div>
                </form>
            </div>
        </li>
        <li><a th:href="@{/}">Trang chủ</a>

        </li>
        <li><a href="#">Liên hệ với tôi</a> </li>
    </ul>
    <div class="top-links">
        <ul class="links">
            <li><a title="My Account" th:href="@{/login}">Tài khoản</a> </li>
            <li><a title="Wishlist" href="#">Sản phẩm yêu thích</a> </li>
            <li><a title="Checkout" href="#">Thanh toán</a> </li>
            <li><a title="Blog" href="#"><span>Bài viết</span></a> </li>
            <li class="last"><a title="Login" th:href="@{/login}"><span>Đăng nhập</span></a> </li>
        </ul>
    </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.mobile-menu.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/countdown.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/revslider.js}"></script>
<script th:src="@{/js/Api/Sp.js}"></script>

<!-- detail -->
<script th:src="@{/js/cloud-zoom.js}"></script>

<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script>
    let logout = document.querySelector('.logout-id');
    let content = `<a  href="/logout"><span class="hidden-xs">Đăng xuất</span></a>`;
    logout.innerHTML = content;
</script>
    </footer>
<!-- End Footer -->


</body>
</html>