<!DOCTYPE html>
<html lang="-en">

<body>
    <header>
        <div class="header-container">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <!-- Header Language -->
                        <div class="col-xs-12 col-sm-6">
                            <div class="welcome-msg"> Chào mừng tới minishop </div>
                        </div>
                        <div class="col-xs-6 hidden-xs">
                            <!-- Header Top Links -->
                            <div class="toplinks">
                                <div class="links">
                                    <div class="myaccount"><a title="My Account" th:href="@{/login}"><span
                                                class="hidden-xs">Tài khoản</span></a> </div>
                                    <div class="check"><a title="Checkout" href="/shoppingcart"><span
                                                class="hidden-xs"></span>Thanh toán
                                            </span></a> </div>

                                    <!-- Header Company -->

                                    <div class="login"><a href="/login"><span class="hidden-xs">Đăng nhập</span></a> </div>
                                    <div class="logout-id"></div>
                                    <!-- End Header Company -->
                                    <!-- 
                                         <div class="dropdown block-company-wrapper hidden-xs"> <a role="button"
                                            data-toggle="dropdown" data-target="#" class="block-company dropdown-toggle"
                                            href="#"> Login <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li role="presentation"><a href="#"> Register </a> </li>
                                        </ul>
                                    </div>
                                     -->
                                </div>
                            </div>
                            <!-- End Header Top Links -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 header-phone">
                        <i class="fa fa-mobile"></i> 0382426669
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 logo-block">
                        <!-- Header Logo -->
                        <div class="logo"> <a title="Minishop" th:href="@{/}">
                                <span class="logo">Minishop</span>
                                <!-- <img alt="Freshia" src="images/logo1.png">  -->
                            </a> </div>
                        <!-- End Header Logo -->
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 hidden-xs">
                        <div class="search-box">
                            <form action="cat" method="POST" id="search_mini_form" name="Categories">
                                <input type="text" placeholder="Search entire store here..." value="Search"
                                    maxlength="70" name="search" id="search">
                                <button type="button" class="search-btn-bg"><span
                                        class="glyphicon glyphicon-search"></span>&nbsp;</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end header -->
<div class="owl-wrapper-outer">
    <div class="owl-wrapper"></div>
</div>
        <!-- Navigation -->
        <nav>
            <div class="container">
                <div class="mm-toggle-wrap">
                    <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">Menu</span>
                    </div>
                </div>
                <div class="nav-inner">
                    <!-- BEGIN NAV -->
                    <ul id="nav" class="hidden-xs">

                    </ul>
                    <!--nav-->
                    <div class="top-cart-contain pull-right">
                        <!-- Top Cart -->
                        <div class="mini-cart">
                            <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a
                                    href="#"> <span class="cart_count" id="cart_count">0</span> </a> </div>
                            <div>
                                <div class="top-cart-content">

                                    <!--block-subtitle-->
                                    <ul class="mini-products-list" id="cart-sidebar">
                                        No item in cart
                                        <!-- <li class="item first">
                                            <div class="item-inner"> 
                                                <a class="product-image" title="Retis lapen casen"
                                                    href="#l"><img alt="Retis lapen casen" th:src="@{/images/fish.png}">
                                                </a>
                                                <div class="product-details">
                                                   <a class="btn-remove1" title="Remove This Item"
                                                            href="#">Remove</a> 
                                                   <strong>1</strong> x <span class="price">$179.99</span>
                                                    <p class="product-name"><a href="#">Retis lapen casen...</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </li> -->

                                    </ul>

                                    <!--actions-->
                                    <div class="actions">
                                        <a href="/shoppingcart" class="btn-checkout" title="Checkout"
                                            type="button"><span>Checkout</span> </a>
                                        <a href="/shoppingcart" class="view-cart"><span>View Cart</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Top Cart -->
                        <div id="ajaxconfig_info" style="display:none"> <a href="#/"></a>
                            <input value="" type="hidden">
                            <input id="enable_module" value="1" type="hidden">
                            <input class="effect_to_cart" value="1" type="hidden">
                            <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end nav -->
    </header>

</body>

</html>