

body {
    background: #F8F8F8;
}

#product-view {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product-view .product-content {
    width: 1000px;
    /*height: 440px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-bottom: 3px solid #e5e5e5;
    padding: 15px 20px;
}

.product-content .product-head {
    width: 100%;
    display: flex;
}

.product-head .product-head-left {
    padding-right: 10px;
}

.product-head .product-head-left .zoom {
    display: inline-block;
    position: relative;
    cursor: crosshair;
}

.product-head .product-head-left .zoom p {
    position: absolute;
    top: 10px;
    left: 28px;
    background: red;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: 800;
}

.product-head .product-head-right {
    width: 68%;
    line-height: 2;
}

.product-head .product-head-right .product-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-head-right .product-name h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 32px;
}

.product-name .product-icon1 a {}

.product-name .product-icon1 a i {
    text-align: center;
    border: 2px solid #e5e5e5;
    color: #666;
    width: 30px;
    height: 30px;
    line-height: 27.5px;
}

.product-name .product-icon1 a:hover>i {
    background: red;
    color: #fff;
    border: 0;
    transition: 0.5s;
}

.product-head .product-head-right .product-vote {
    display: flex;
    padding: 10px 0;
}

.product-vote .ratings .fa-star {
    color: #FFD322;
}

.product-vote .ratings .fa-star-o {
    color: #CCCCCC;
}

.product-head-right .product-vote .rating-links {
    padding: 0 10px;
    text-decoration: none;
    color: #000;
    opacity: 0.5;
}

.product-head-right .product-vote .rating-links:hover {
    opacity: 1;
}

.product-head-right .product-vote .separator {
    opacity: 0.5;
}

.product-head-right .product-money {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-head-right .product-money .special-price {
    display: flex;
}

.special-price .money-dola1 {
    color: #000;
    font-weight: 500;
    font-size: 26px;
    padding-right: 20px;
    letter-spacing: 1px;
}

.special-price .money-dola2 {
    text-decoration: line-through;
    color: #999;
    font-weight: normal;
    font-size: 26px;
    letter-spacing: 1px;
}

.product-money .in-stock {
    background: #6DBE14;
    padding: 0px 5px;
}

.product-money .in-stock a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
}

.product-head-right .product-detail {
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    padding: 20px 0;
    margin: 20px 0;
}

.product-head-right .product-detail p {
    font-size: 12px;
}

.product-head-right .add-to-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid#eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.product-head-right .add-to-box button {
    background: #59B210;
    color: #fff;
    padding: 10px 20px;
    font-size: 23px;
    text-transform: uppercase;
    outline: none;
    border: 0;
    border-radius: 10px;
    width: 230px;
    height: 54px;
    line-height: 1.6;
}

.product-head-right .add-to-box button:hover {
    background: #E31837;
    transition: 0.5s;
}

.product-head-right .add-to-box a {
    text-decoration: none;
}

.product-head-right .add-to-box a i {
    border: 1px solid #e5e5e5;
    color: #999;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    text-align: center;
    line-height: 55px;
}

.product-head-right .add-to-box a i:hover {
    border: 0px;
    background: #e31827;
    color: #fff;
    transition: 0.5s;
}

.product-foot {
    display: flex;
    width: 100%;
}

.product-foot .demo {
    width: 371px;
}

.product-foot .demo .item ul {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}

.product-foot .demo .item {
    margin-bottom: 60px;
}

.content-slider li {
    background-color: #ed3020;
    text-align: center;
    color: #FFF;
}

.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}

.contact-product {
    width: 100%;
    margin-left: 10px;
}

.contact-product a i {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border: 1px solid #eee;
    text-align: center;
    line-height: 46px;
    color: #999;
    border-radius: 10px;
}

.contact-product a .fa-facebook-square:hover {
    color: #fff;
    background-color: #3C5B9B;
    transition: 0.3s;
}

.contact-product a .fa-twitter:hover {
    color: #fff;
    background-color: #359BED;
    transition: 0.3s;
}

.contact-product a .fa-google-plus:hover {
    color: #fff;
    background-color: #E33729;
    transition: 0.3s;
}

.contact-product a .fa-signal:hover {
    color: #fff;
    background-color: #FD9F13;
    transition: 0.3s;
}

.contact-product a .fa-pinterest:hover {
    color: #fff;
    background-color: #cb2027;
    transition: 0.3s;
}

.contact-product a .fa-linkedin:hover {
    color: #fff;
    background-color: #027ba5;
    transition: 0.3s;
}

.contact-product a .fa-youtube-play:hover {
    color: #fff;
    background-color: #F03434;
    transition: 0.3s;
}

#product-collateral {
    width: 100%;
    display: flex;
    justify-content: center;
}

#product-collateral .add_info {
    width: 1000px;
}

.tab-content .active {
    display: block !important;
}

.tab-content .tab-pane {
    display: none;
}

.add_info ul {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e5e5e5;
    margin: 0;
    padding: 20px 24px 0px;
    text-align: left;
    width: 100%;
    border-bottom: none;
    font-family: 'Rubik', sans-serif;
    display: flex;
}

.add_info ul li {
    list-style: none;
    margin: 0 15px;
}

#productTabContent {
    padding: 10px 25px;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e5e5e5;
    border-top: none;
    border-bottom: 3px solid #e5e5e5;
}

#related-pro {
    width: 100%;
    display: flex;
    justify-content: center;
}

#related-pro .slider-items-products {
    width: 1000px;
    border: 2px solid #999;
}

#related-pro .slider-items-products .slider-items-left {
    width: 30%;
}

.slider-items-left .item-head {
    background: red;
    width: 300px;
}

#our-features-box {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#our-features-box .features {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conbox {
    padding: 0 20px;
    width: 100%;
}

.conbox a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.conbox a i {
    width: 65px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    /*border-right: 2px solid #fff;*/
}

.conbox a .text-box {
    width: 155px;
    height: 50px;
    padding-left: 15px;
    text-transform: uppercase;
    border-left: 2px solid #fff;
}

.box1 a {
    background: #685c88;
    color: #fff;
    text-decoration: none;
}

.box2 a {
    background: #94d7fb;
    color: #fff;
    text-decoration: none;
}

.box3 a {
    background: #fc9cc4;
    color: #fff;
    text-decoration: none;
}

.box4 a {
    background: #e31837;
    color: #fff;
    text-decoration: none;
}