<!DOCTYPE html>
<!-- Thymeleaf Namespace -->

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/import :: base (~{::body},'detail')}">

<body>
<div class="page">
  <div class="header" th:replace="~{fragments/header :: header}">
  </div>
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a href="/" title="Go to Home Page">Home</a> <span>/</span> </li>
            <li> <a id='tendanhmuc' href="" title="Ten danh muc" th:attr="data-id_dm=${spRes.getMadanhmuc()}">Home</a>
              <span>/</span> </li>
            <li th:attr="data-id_sp=${spRes.getMasanpham()}" id="li_msp"> <strong
                    th:text="${spRes.getTensanpham()}">Dakos</strong> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->

  <!-- Main Container -->
  <section class="main-container col1-layout">
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-main">
            <div class="product-view">
              <div class="product-essential">
                <form id="product_addtocart_form">
                  <input name="form_key" value="6UbXroakyQlbfQzK" type="hidden">
                  <div class="product-img-box col-lg-4 col-sm-5 col-xs-12">
                    <div class="new-label new-top-left"> New </div>
                    <div class="product-image">
                      <div class="product-full"> <img id="product-zoom"
                                                      th:src="@{'/products-images/'+${spRes.getHinhsanpham()}}"
                                                      th:data-zoom-image="@{'/products-images/'+${spRes.getHinhsanpham()}}" alt="product-image" /> </div>
                      <div class="more-views">
                        <div class="slider-items-products">
                          <div id="gallery_01" class="product-flexslider hidden-buttons product-img-thumb">
                            <div class="slider-items slider-width-col4 block-content">
                              <div class="more-views-items"> <a href="#" th:data-image="@{'/products-images/'+${spRes.getHinhsanpham()}}"
                                                                th:data-zoom-image="@{'/products-images/'+${spRes.getHinhsanpham()}}"> <img id="product-zoom"
                                                                                                                                            th:src="@{'/products-images/'+${spRes.getHinhsanpham()}}" alt="product-image" /> </a></div>
                              <div class="more-views-items"> <a href="#" data-image="/products-images/product3.jpg"
                                                                data-zoom-image="/products-images/product3.jpg"> <img id="product-zoom"
                                                                                                                      src="/products-images/product3.jpg" alt="product-image" /> </a></div>
                              <div class="more-views-items"> <a href="#" data-image="/products-images/product1.jpg"
                                                                data-zoom-image="/products-images/product1.jpg"> <img id="product-zoom"
                                                                                                                      src="/products-images/product1.jpg" alt="product-image" /> </a></div>
                              <div class="more-views-items"> <a href="#" data-image="/products-images/product2.jpg"
                                                                data-zoom-image="/products-images/product2.jpg"> <img id="product-zoom"
                                                                                                                      src="/products-images/product2.jpg" alt="product-image" /> </a> </div>
                              <div class="more-views-items"> <a href="#" data-image="/products-images/product3.jpg"
                                                                data-zoom-image="/products-images/product3.jpg"> <img id="product-zoom"
                                                                                                                      src="/products-images/product3.jpg" alt="product-image" /> </a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end: more-images -->
                  </div>
                  <div class="product-shop col-lg-8 col-sm-7 col-xs-12">
                    <!-- <div class="product-next-prev"> <a class="product-next" href="#"><span></span></a> <a class="product-prev" href="#"><span></span></a> </div> -->
                    <div class="product-name">
                      <h1 th:text="${spRes.getTensanpham()}">Grapes - Thompson Seedless</h1>
                    </div>
                    <div class="ratings">
                      <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <p class="rating-links"> <a href="#">1 Đánh Giá</a> <span class="separator">|</span> <a
                              href="#">Thêm đánh giá</a> </p>
                    </div>
                    <div class="price-block">
                      <div class="price-box">
                        <p class="special-price"> <span class="price-label">Special Price</span> <span id=""
                                                                                                       class="price" th:text="${spRes.giatien}"> 900,000đ  </span> <u class="price">đ</u></p>
                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price">
                            900,000đ </span> </p>
                        <p class="availability in-stock pull-right"><span>In Stock</span></p>
                      </div>
                    </div>
                    <div class="short-description">
                      <h2>Quick Overview</h2>
                      <p th:text="${spRes.mota}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                        fringilla augue nec est tristique auctor. quis justo gravida semper. Nulla tellus mi,
                        vulputate adipiscing cursus eu, suscipit id nulla. Donec a neque libero. </p>
                    </div>
                    <div class="add-to-box">
                      <div class="add-to-cart">
                        <div class="pull-left">
                          <div class="custom pull-left">
                            <button
                                    onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 0 ) result.value--;return false;"
                                    class="reduced items-count" type="button"><i class="fa fa-minus">&nbsp;</i></button>
                            <input type="text" class="input-text qty" title="Qty" value="1" maxlength="12" id="qty"
                                   name="qty">
                            <button
                                    onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;"
                                    class="increase items-count" type="button"><i class="fa fa-plus">&nbsp;</i></button>
                          </div>
                        </div>
                        <button onClick="productAddToCartForm.submit(this)" class="button btn-cart"
                                title="Add to Cart" type="button">Thêm vào giỏ</span></button>
                      </div>
                      <div class="email-addto-box">
                        <ul class="add-to-links">
                          <li> <a class="link-wishlist" href="wishlist.html"><span>Add to Wishlist</span></a></li>
                          <!-- <li><span class="separator">|</span> <a class="link-compare" href="compare.html"><span>Add to Compare</span></a></li> -->
                        </ul>
                        <p class="email-friend"><a href="#" class=""><span>Email to a Friend</span></a></p>
                      </div>
                    </div>
                    <div class="social">
                      <ul class="link">
                        <li class="fb"><a href="#"></a></li>
                        <li class="tw"><a href="#"></a></li>
                        <li class="googleplus"><a href="#"></a></li>
                        <li class="rss"><a href="#"></a></li>
                        <li class="pintrest"><a href="#"></a></li>
                        <li class="linkedin"><a href="#"></a></li>
                        <li class="youtube"><a href="#"></a></li>
                      </ul>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="product-collateral col-lg-12 col-sm-12 col-xs-12">
            <div class="add_info">
              <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                <li class="active"> <a href="#product_tabs_description" data-toggle="tab"> Thông tin sản phẩm </a>
                </li>
                <!-- <li><a href="#product_tabs_tags" data-toggle="tab">Tags</a></li> -->
                <li> <a href="#reviews_tabs" data-toggle="tab" onclick="Get_Revew()">Đánh giá</a> </li>
                <!-- <li> <a href="#product_tabs_custom" data-toggle="tab">Custom Tab</a> </li>
              <li> <a href="#product_tabs_custom1" data-toggle="tab">Custom Tab1</a> </li> -->
              </ul>
              <div id="productTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="product_tabs_description">
                  <div class="std">
                    <p th:text="${spRes.mota}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla
                      augue nec est tristique
                      auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper.
                      Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla. Donec a neque libero.
                      Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem, quis fermentum turpis
                      eros eget velit. Donec ac tempus ante. Fusce ultricies massa massa. Fusce aliquam, purus eget
                      sagittis vulputate, sapien libero hendrerit est, sed commodo augue nisi non neque. Lorem ipsum
                      dolor sit amet, consectetur adipiscing elit. Sed tempor, lorem et placerat vestibulum, metus
                      nisi posuere nisl, in accumsan elit odio quis mi. Cras neque metus, consequat et blandit et,
                      luctus a nunc. Etiam gravida vehicula tellus, in imperdiet ligula euismod eget. Pellentesque
                      habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam erat mi,
                      rutrum at sollicitudin rhoncus, ultricies posuere erat. Duis convallis, arcu nec aliquam
                      consequat, purus felis vehicula felis, a dapibus enim lorem nec augue.</p>

                  </div>
                </div>

                <div class="tab-pane fade" id="reviews_tabs">
                  <div class="box-collateral box-reviews" id="customer-reviews">
                    <div class="box-reviews1">
                      <div class="form-add">
                        <!--------------------   start form  -------------------->
                        <form id="review-form" >
                          <h3>Write Your Own Review</h3>
                          <fieldset>
                            <h4>How do you rate this product? <em class="required">*</em></h4>
                            <span id="input-message-box"></span>
                            <table id="product-review-table" class="data-table">
                              <colgroup>
                                <col>
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">
                              </colgroup>
                              <thead>
                              <tr class="first last">
                                <th>&nbsp;</th>
                                <th><span class="nobr">1 *</span></th>
                                <th><span class="nobr">2 *</span></th>
                                <th><span class="nobr">3 *</span></th>
                                <th><span class="nobr">4 *</span></th>
                                <th><span class="nobr">5 *</span></th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr class="last fist odd">
                                <th>Đánh giá sản phẩm này:</th>
                                <td class="value"><input type="radio" class="radio" value="1" id="Price_1"
                                                         name="number_start"></td>
                                <td class="value"><input type="radio" class="radio" value="2" id="Price_2"
                                                         name="number_start"></td>
                                <td class="value"><input type="radio" class="radio" value="3" id="Price_3"
                                                         name="number_start"></td>
                                <td class="value"><input type="radio" class="radio" value="4" id="Price_4"
                                                         name="number_start"></td>
                                <td class="value last"><input type="radio" class="radio" value="5" id="Price_5"
                                                              name="number_start"></td>
                              </tr>

                              </tbody>
                            </table>
                            <input type="hidden" value="" class="validate-rating" name="validate_rating">
                            <div class="review1">
                              <ul class="form-list">
                                <li>
                                  <label class="required" for="nickname_field">Nickname<em>*</em></label>
                                  <div class="input-box">
                                    <input type="text" class="input-text" id="nickname_field" name="nickname">
                                  </div>
                                </li>
                                <li>
                                  <label class="required" for="summary_field">Summary<em>*</em></label>
                                  <div class="input-box">
                                    <input type="text" class="input-text" id="summary_field" name="title">
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="review2">
                              <ul>
                                <li>
                                  <label class="required " for="review_field">Review<em>*</em></label>
                                  <div class="input-box">
                                    <textarea rows="3" cols="5" id="review_field" name="content_review"></textarea>
                                  </div>
                                </li>
                              </ul>
                              <div class="buttons-set">
                                <input class="btn btn-success"  onclick="C_review()" title="Gửi đánh giá" type="button" value="Gửi đánh giá"></input>
                              </div>
                            </div>
                          </fieldset>
                        </form>
                      </div>
                    </div>
                    <div class="box-reviews2">

                      <!---------------------------                         -->
                      <h3 class="ctm_rv">Customer Reviews</h3>


                      <!-- dont load review-->
                      <div class="actions"> <a class="button view-all" id="revies-button" href="#"><span><span>View
                                all</span></span></a> </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Main Container End -->

  <!-- Related Products Slider -->

  <div class="container">

    <!-- Related Slider -->
    <div class="related-pro">

      <div class="slider-items-products">
        <div class="related-block">
          <div id="related-products-slider" class="product-flexslider hidden-buttons">
            <div class="home-block-inner">
              <div class="block-title">
                <h2>Cùng danh mục</h2>
              </div>
              <div class="pretext"><a title="Retis lapen casen" href="#"> <img alt="Retis lapen casen"
                                                                               th:src="@{/products-images/muc_ong.jpeg}"></a>
                <div class="offer-text">Được giảm giá </div>
              </div>
              <!-- <a href="grid.html" class="view_more_bnt">View All</a>   -->

            </div>
            <div id="related" class="slider-items slider-width-col4 products-grid block-content">
              <div class="item">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info">
                      <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img
                              alt="Retis lapen casen" src="products-images/product1.jpg"> </a>
                      <div class="new-label new-top-right">new</div>
                      <div class="box-hover">
                        <ul class="add-to-links">
                          <li><a class="link-quickview" href="quick_view.html">Quick View</a>
                          </li>
                          <li><a class="link-wishlist" href="wishlist.html">Wishlist</a>
                          </li>
                          <li><a class="link-compare" href="compare.html">Compare</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html"> Retis lapen
                        casen </a> </div>
                      <div class="rating">
                        <div class="ratings">
                          <div class="rating-box">
                            <div style="width:80%" class="rating"></div>
                          </div>
                          <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a
                                  href="#">Add Review</a> </p>
                        </div>
                      </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span>
                              </span>
                          </div>
                        </div>
                        <div class="action">
                          <button class="button btn-cart" type="button" title=""
                                  data-original-title="Add to Cart"><span>Add to Cart</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="item">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info">
                      <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img
                              alt="Retis lapen casen" src="products-images/product2.jpg"> </a>
                      <div class="box-hover">
                        <ul class="add-to-links">
                          <li><a class="link-quickview" href="quick_view.html">Quick View</a>
                          </li>
                          <li><a class="link-wishlist" href="wishlist.html">Wishlist</a>
                          </li>
                          <li><a class="link-compare" href="compare.html">Compare</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html"> Retis lapen
                        casen </a> </div>
                      <div class="item-content">
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div style="width:80%" class="rating"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a
                                    href="#">Add Review</a> </p>
                          </div>
                        </div>
                        <div class="item-price">
                          <div class="price-box"> <span class="regular-price"> <span class="price">$235.00</span>
                              </span>
                          </div>
                        </div>
                        <div class="action">
                          <button class="button btn-cart" type="button" title=""
                                  data-original-title="Add to Cart"><span>Add to Cart</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info">
                      <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img
                              alt="Retis lapen casen" src="products-images/product1.jpg"> </a>
                      <div class="box-hover">
                        <ul class="add-to-links">
                          <li><a class="link-quickview" href="quick_view.html">Quick View</a>
                          </li>
                          <li><a class="link-wishlist" href="wishlist.html">Wishlist</a>
                          </li>
                          <li><a class="link-compare" href="compare.html">Compare</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html"> Retis lapen
                        casen </a> </div>
                      <div class="item-content">
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div style="width:80%" class="rating"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a
                                    href="#">Add Review</a> </p>
                          </div>
                        </div>
                        <div class="item-price">
                          <div class="price-box"> <span class="regular-price"> <span class="price">$325.00</span>
                              </span>
                          </div>
                        </div>
                        <div class="action">
                          <button class="button btn-cart" type="button" title=""
                                  data-original-title="Add to Cart"><span>Thêm vào giỏ</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Item -->

              <div class="item">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info">
                      <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img
                              alt="Retis lapen casen" src="products-images/product3.jpg"> </a>
                      <div class="new-label new-top-left">new</div>
                      <div class="box-hover">
                        <ul class="add-to-links">
                          <li><a class="link-quickview" href="quick_view.html">Quick View</a>
                          </li>
                          <li><a class="link-wishlist" href="wishlist.html">Wishlist</a>
                          </li>
                          <li><a class="link-compare" href="compare.html">Compare</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html"> Retis lapen
                        casen </a> </div>
                      <div class="item-content">
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div style="width:80%" class="rating"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a
                                    href="#">Add Review</a> </p>
                          </div>
                        </div>
                        <div class="item-price">
                          <div class="price-box"> <span class="regular-price"> <span class="price">$425.00</span>
                              </span>
                          </div>
                        </div>
                        <div class="action">
                          <button class="button btn-cart" type="button" title=""
                                  data-original-title="Add to Cart"><span>Add to Cart</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="item">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info">
                      <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img
                              alt="Retis lapen casen" src="products-images/product5.jpg"> </a>
                      <div class="box-hover">
                        <ul class="add-to-links">
                          <li><a class="link-quickview" href="quick_view.html">Quick View</a>
                          </li>
                          <li><a class="link-wishlist" href="wishlist.html">Wishlist</a>
                          </li>
                          <li><a class="link-compare" href="compare.html">Compare</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html"> Retis lapen
                        casen </a> </div>
                      <div class="item-content">
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div style="width:80%" class="rating"></div>
                            </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a
                                    href="#">Add Review</a> </p>
                          </div>
                        </div>
                        <div class="item-price">
                          <div class="price-box"> <span class="regular-price"> <span class="price">$525.00</span>
                              </span>
                          </div>
                        </div>
                        <div class="action">
                          <button class="button btn-cart" type="button" title=""
                                  data-original-title="Add to Cart"><span>Add to Cart</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Item -->


            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End related products Slider -->




  </div>
  <!-- Related Products Slider End -->

  <!-- our features -->
  <div class="our-features-box">
    <div class="container">
      <ul>
        <li>
          <div class="feature-box free-shipping">
            <div class="icon-truck"></div>
            <div class="content">Miễn phí ship nội thành hà nội</div>
          </div>
        </li>
        <li>
          <div class="feature-box need-help">
            <div class="icon-support"></div>
            <div class="content">Need Help +1 800 123 1234</div>
          </div>
        </li>
        <li>
          <div class="feature-box money-back">
            <div class="icon-money"></div>
            <div class="content">Tư vấn liên hệ : 0382426669</div>
          </div>
        </li>
        <li class="last">
          <div class="feature-box return-policy">
            <div class="icon-return"></div>
            <div class="content">Đảm bảo chất lượng </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer" th:replace="~{fragments/footer :: footer}">

  </div>

  <script>

    async  function get_rate(){
      let start;
      document.getElementsByName("number_start").forEach( x=> {
        if(x.checked){
          start = x.value
        }
      })
      return start
    }
    /*get masanpham*/
    let masp = document.getElementById("li_msp").getAttribute("data-id_sp")
    /*---------------------date time --------------------------------------------*/
    /**/ let today = new Date();
    /**/ let date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
    /**/ let time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
    /**/ let dateTime = date+' '+time;
    /*---------------------------------------------------------------------------*/

    async function C_review(){
      await axios.post("/api/v1/review",{
        "content_review": document.getElementById("review_field").value,
        "id_product": masp,
        "nickname": document.getElementById("nickname_field").value,
        "number_start": await get_rate(),
        "time_review": dateTime,
        "title": document.getElementById("summary_field").value
      }).then(res => {
        if (res){
          Get_Revew()
          alert("thanks for review")
          document.getElementById("review_field").value = "";
          document.getElementById("nickname_field").value = "";
          document.getElementById("summary_field").value = "";
        }else alert("Ôi! hỏng. vui lòng thử lại")
      });
      // load review

    }

    /*get binh luan*/
    let ctm_rv = document.getElementsByClassName("ctm_rv")
    async function Get_Revew(){
      let content = ``
      const list_rv = await axios.get(`/api/v1/review/${masp}`)
      list_rv.data.forEach(rv => {

        content += ` <div class="box visible">
                          <ul>
                            <li>
                              <table class="ratings-table">
                                <colgroup>
                                  <col width="1">
                                  <col>
                                </colgroup>
                                <tbody>
                                  <tr>
                                    <th>Value</th>
                                    <td>
                                      <div class="rating-box">
                                        <div class="rating" style="width:100%;">
                                          <div class="star" >
                                            <th:block th:each = "star : ${rv.number_start}">
                                            <i class="fa fa-star" ></i>
                                            </th:block>
                                          </div>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="review">
                                <h6><a href="#">${rv.title}</a></h6>
                                <small>Review by <span>${rv.nickname}</span>  on ${rv.time_review}</small>
                                <div class="review-txt last"> ${rv.content_review} </div>
                              </div>
                            </li>
                          </ul>
                        </div>`
      })
      ctm_rv[0].innerHTML = content
    }

  </script>
</body>

</html>